.*/
artifacts/
cache/
*docs*/
*mytest*/
*openzeppelin*/
*.back
\[*\]/
node_modules/
node_modules.rar
hardhat.config.js
*Deployments*
*Problems*
*Status*
*data*
*scripts*/
*temp*
package-lock.json
*/.DS_Store
